body {
    background-image: url('image/daimond_eyes_@2X.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

button {
    margin: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

p {
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}